@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  background: linear-gradient(
    to top,
    #2c3e50,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header {
  background-color: #272d37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo {
  height: 120px;
  width: 120px;
}
.navbar-list a {
  color: lightblue;
  font-size: 14px;
}
.logo img {
  height: 100%;
  width: 100%;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  max-width: 1200px;
  margin: 0 auto;
}
/* Hero */
#hero {
  display: flex;
  gap: 30px;
  padding: 10px 10px;
}
.hero-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 450px;
}
.hero-info h1 {
  font-size: 30px;
}
.hero-info p {
  font-size: 16px;
  width: 450px;
}
.hero-info boton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hero-info a {
  background-color: #6c63ff;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 15px;
  width: 200px;
  color: azure;
}
.fotoportada {
  height: 450px;
  width: 450px;
}
.fotoportada img {
  height: 100%;
  width: 100%;
}
/* About */
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:  #272d37;
  width: 800px;
  font-size: 18px;
  gap: 10px;
  border-radius: 20px;
  padding: 10px;
}
/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}